.feature-title-section {
    position: relative;
    margin-top: 100px;
    padding-bottom: 15px;
    text-align: center;
    z-index: 0;
}

.feature-title-section .h2 {
    margin-bottom: 0;
}

.feature-title-section h2:first-child,
.feature-title-section .h2:first-child {
    margin-top: 0;
}

.feature-title-section h2,
.feature-title-section .h2 {
    font-size: 36px;
    line-height: 46px;
    color: #222;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.feature-title-section .h2:before {
    left: -22px;
    box-shadow: 44px 0 0 #ccc;
}

.feature-title-section .h2:after {
    left: 22px;
    box-shadow: -44px 0 0 #ccc;
}

.feature-title-section p:last-child {
    margin-bottom: 0;
}

.feature-title-section .h2:before, .feature-title-section .h2:after {
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 18px;
    height: 2px;
    margin: 0 auto;
    background-color: #ccc;
}

.feature-item {
    margin-bottom: 53px;
    text-align: center;
}

.feature-item .icon {
    position: relative;
    margin-bottom: 23px;
    padding-bottom: 32px;
}

.feature-item .icon:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 2px;
    margin: 0 auto;
    background-color: #999;
}

.text-primary{
    color: #F69323;
}

.text-primary img {
    max-width: 100%;
    height: auto;
}

.feature--item .title .h4 {
    margin-bottom: 12px;
}

.title h3:first-child {
    margin-top: 0;
}

.title .h4 {
    font-size: 18px;
    line-height: 28px;
}

.title h3 .h4 {
    color: #222;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.content p:last-child {
    margin-bottom: 0;
}

.expert-members-nav .btn-groups {
    color: #999;
    font-size: 0;
    line-height: 0;
}

.expert-members-nav button {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-transition: color .25s;
    transition: color .25s;
    outline: 0;
}
.expert-members-nav button, .expert-members-nav a {
    font-size: 16px;
    line-height: 26px;
    margin: 0 20px;
}
